.footer {
  background-color: #333;
  color: whitesmoke;
  width: 100%;
  padding: 1px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  

}

/* .logo {
  border: 2px solid red;
  flex: 1;
  /* text-align: left; */
  /* padding: 10px ; *
  align-items: center;

} */


.footer-logo {
  /* border: 2px solid red; */
  flex: 1;
  display: flex; /* Makes the container a flexbox */
  flex-direction: column; /* Stacks the children vertically */
  align-items: center; /* Centers the children horizontally */
  justify-content: flex-start; /* Positions the children at the top */
  padding: 10px 0; /* Adds padding around the content */
}

.footer-logo img {
  max-width: 150px; /* Increased width for the logo */
  height: auto; /* Maintains the aspect ratio */
  margin-bottom: 10px; /* Adds space below the image */
}



/* .logo p {
  border: 2px solid red;
  color: #ddd;
  font-size: 14px;
  line-height: 1.5;
} */

.footer-links-info {
  display: flex;
  flex: 2;
  justify-content: space-around;
}

.footer-usefull,
.footer-follow,
.footer-address {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.footer-usefull h2,
.footer-follow h2,
.footer-address h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-usefull ul,
.footer-follow ul,
.footer-address ul {
  /* border: 1px solid red; */
  list-style: none;
  padding: 0;
}

.footer-usefull li,
.footer-follow li,
.footer-address li {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  margin-bottom: 10px;
}

.footer-usefull li a,
.footer-follow li a,
.footer-address li a {
  color: #ddd;
  text-decoration: none;
  display: flex; /* Makes the link container a flex box */
  align-items: center; /* Aligns icon and text vertically */
  gap: 8px; /* Adds space between icon and text */
}

.footer-usefull li a:hover,
.footer-follow li a:hover,
.footer-address li a:hover {
  color: #ffcc00;
 
}

.footer-bottom {
  background-color: #222;
  color: #aaa;
  padding: 10px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
}

