.ContactUssPage{
    border: 1px solid red;
    background-color: #BFDCF5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUssPage-container{
    /* background-color: #FAFAFA; */
border: 1px solid pink;
width: 90%;    
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;;
align-items: center;
}
.ContactUssPage-container-Subsection{
    background-color: #FAFAFA;

    border: 1px solid gray;
    border-radius: 10px;

    width: 30%;
}
.ContactUssPage-container-Subsection .heading ,

.ContactUssPage-container-Subsection .para{
display: flex;
justify-content: center;
align-items: center ;

}
.ContactUssPage-container-formSection{
padding: 20px;
    display: flex;
    flex-direction: column;
}

.ContactUssPage-container-formSection-label{
    /* border: 1px solid red; */
    font-size: 16px;
    margin: 10px 0 0 0;
}

.ContactUssPage-container-formSection-labelInput{

border: none;
border: 1px solid gainsboro;
margin: 0px  5px 10px 0px;
height: 40px;
padding: 10px;
color: black;
font-weight:600;
font-size: medium;
border-radius: 10px;


}

.ContactUssPage-container-formSection-labelTextarea{
    /* border: 1px solid greenyellow; */
    color: black;
font-weight:600;
font-size: large;
height: 70px;
resize: none;
overflow-y: hidden;

}

.ContactUss-Button{
    height: 40px;
    font-size: medium;
    font-weight: 500;
    padding:10px;
    width: 50%;
    background-color: #0a1551;
    color:#ffff;
    border-radius: 10px;

}
.ContactUss-Button:hover{
    background-color: #3f52bf;
}


input::placeholder {
    font-weight: 300; /* Use a lighter weight like 100, 200, or 300 */
    color: gray; /* Optional: Change the color too */
}

textarea::placeholder {
    font-weight: 300; 
    color: gray; 
}